.background {
    background-image: url("/room.png");
    background-size: cover;
    overflow: hidden;
    background-repeat: no-repeat;
    height: 100vh;
    padding: 50px;
}

.container {
    max-width: 25%;
    height: 100%;
    background-image: url("/notepad.png");
    background-size: contain;
    background-repeat: no-repeat;
    padding: 3% 2%;
}

.catContainer {
    position: absolute;
    top: 40%;
    left: 30%;
    display: flex;
    flex-wrap: wrap;
}

.catImg {
    height: 100%;
    margin: 10px;
}

.counter {
    position :absolute;
    bottom: 0;
    right: 0;
}
