@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100..800&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: "Playpen Sans", cursive;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

button {
    /* border: 1px solid transparent; */
    /* border-radius: 8px;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500; */
    font-family: inherit;
    cursor: pointer;
  }
